.button {
    background-color: #E76F51 ; 
    border: none;
    border-radius: 5px;
    color: white;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: #E76F51; 
    border: 1px solid #E76F51;
  }
  



.button2{
    background-color: #E76F51;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 13px 32px;
    margin: 4px 2px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
     
} 
.Header-button{
    background-color: #E76F51;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 4px 2px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 100px; 
} 
.nav-button{
    background-color: #E76F51;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 4px 2px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}



.body{
    padding: 0;
    margin: 0;
    
}

.width-control{
    margin-right:300px;
    
}
.sizing{
   margin-top:80px !important ;
   margin-bottom: 100px !important;
}
.sizing2{
    padding-bottom:100px !important;
    padding-top:50px !important ;
}


.justify-content{
    justify-content: center;
} 
.color{
    color: lightgray;
}
.color2{
    color: grey;
}
.color3{
    color: #E76F51;
}
.big{
    font-size: 50px;
}
.user-centeralized{
    padding-left: 90px;
    padding-bottom:100px ;
    padding-top:100px ;

    width: 50%;
}
.padding{
    padding-bottom:100px ;
}


